// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyC5Rp87HOa4ranGuMNC731BUlqQ70qCJzI",
  authDomain: "b11a11-client-side-rabbanictg.firebaseapp.com",
  projectId: "b11a11-client-side-rabbanictg",
  storageBucket: "b11a11-client-side-rabbanictg.firebasestorage.app",
  messagingSenderId: "751027519062",
  appId: "1:751027519062:web:bc341c9f63da9b0e20c5f7"
};

// Initialize Firebase
export const app = initializeApp(firebaseConfig);